body {
	font-family: Helvetica;
}

#header {
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

#brushes {
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: mediumspringgreen;
}

.pricePerItem {
	font-weight: bold;
	color: blue;
}
#frames {
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: lightcoral;	
}
#paint {
	font-size: 32px;
	font-weight: bold;
	color: white;
	background-color: skyblue;	
}	